@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.nav{
    font-family: "Agdasima", sans-serif;
}



@layer components{
    .but1{
       @apply p-2 pb-5  bg-red-900 mt-10 hover:bg-red-950 border;
    }
    
    .but2{
        @apply p-2 px-4 hover:shadow-lg shadow-gray-500  rounded  text-white bg-blue-500 hover:bg-blue-700;
    }
    .mainbut{
        @apply p-2 md:py-3 md:font-semibold bg-red-900 hover:bg-red-950 border;
    }
}   .scaleImg{
    @apply   hover:scale-105 transform w-full ;
    /* @apply w-32 hover:scale-105 h-44 object-cover items-center text-center justify-center flex; */
}